html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: calc(19 / 16);
  color: #000;
  min-height: 100vh;
  font-size: 16px;
  background-color: #000;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  border: none;
  font: inherit;
}

input::placeholder {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.chat-wrapper {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  place-content: center;
  background: linear-gradient(83deg, #fa1ba7, #ac7e59, #e57ae3, #7d9527, #99a3af, #43668b);
  background-size: 360% 360%;
  animation: gradient-animation 60s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.chat {
  width: 320px;
  height: 533px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  border: 2px solid aqua;
  padding: 8px;
  position: relative;
}

.chat__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 100%;
}

.chat__btns {
  display: flex;
  justify-content: space-between;
}

.chat__btn {
  display: block;
  background-color: #fff;
  border: 1px solid #000000;
  padding: 7px;
  line-height: calc(19 / 16);
  max-height: 32px;
}

.chat__btn--settings {}

.chat__btn--exit {}

.chat__dialog {
  background-color: transparent;
  border: 1px solid transparent;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.chat__form {
  display: flex;
  max-height: 30px;
  gap: 8px;
}

.chat__label {
  flex: 1 1 100%;
}

.chat__input {
  width: 100%;
  background-color: #fff;
  outline: transparent;
  height: 100%;
  padding: 7px;
  border: 1px solid #000000;
}

.chat__send {
  padding: 7px;
  flex: 0 0 30px;
  background-color: #fff;
  display: grid;
  place-content: center;
  white-space: nowrap;
  border: 1px solid #000000;
}


.chat__list {
  padding: 7px;
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  max-height: 437px;
  overflow: scroll;
}

.chat__list::-webkit-scrollbar {
  width: 0;
}

.message {
  text-align: right;
}

.message--received {
  text-align: left;
}

.message--sent .message__box {
  background-color: #F7F7F7;
}

.message__box {
  display: inline-block;
  padding: 7px;
  background-color: #E5E5E5;
}

.message__text {
  margin-bottom: 3px;
}

.message__name {}

.message__time {
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
  text-align: right;
}

.chat__modal {}

.modal {
  position: absolute;
  inset: 0;
  background-color: rgba(83, 83, 83, 0.7);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.modal::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal__body {
  /* display: none; */
  max-width: 273px;
  width: 100%;
  height: 319px;
  vertical-align: middle;
  margin: 50px auto;
  background-color: #fff;
  display: inline-block;
  padding: 16px 14px;
  text-align: left;
  position: relative;
}

.modal.open .modal__body {}

.modal__close {
  position: absolute;
  font-size: 24px;
  line-height: 70%;
  top: 13px;
  right: 7px;
  width: 30px;
  height: 30px;
  opacity: 0.45;
  transform: rotate(-45deg);

}

.modal__content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.modal__title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 70px;
}

.modal__title--settings {
  margin-bottom: 16px;
}

.modal__form {
  flex-grow: 1;
}

.modal__line {
  max-height: 30px;
}

.modal__holder {
  display: flex;
  gap: 8px;
  max-height: 32px;
}

.modal__holder:not(:last-child) {
  margin-bottom: 8px;
}

.modal__label {
  flex: 1 1 100%;
  margin-bottom: 8px;
  display: block;
}

.modal__input {
  width: 100%;
  background-color: #fff;
  height: 32px;
  border: 1px solid #000000;
  padding: 7px;
}

.modal__send {
  padding: 7px;
  flex: 0 0 30px;
  background-color: #fff;
  display: grid;
  place-content: center;
  white-space: nowrap;
  border: 1px solid #000000;
}

.modal__btn {
  padding: 7px 8px;
  border: 1px solid #000000;
}